.springTransition {
	transition: background-color 1s linear(0, 0.009, 0.035 2.1%, 0.141, 0.309, 0.52, 0.733, 0.891, 0.963, 0.993 16.4%, 1.001 19.3%, 1.004, 1.004, 1.003, 1.001 25.4%, 1 27.3%, 0.999 32.7%, 1 38.7%, 1);
}

.circle {
	transition: all 1s linear(0, 0.009, 0.035 2.1%, 0.141, 0.309, 0.52, 0.733, 0.891, 0.963, 0.993 16.4%, 1.001 19.3%, 1.004, 1.004, 1.003, 1.001 25.4%, 1 27.3%, 0.999 32.7%, 1 38.7%, 1);
}

/* タップ時の視覚フィードバック */
.button:active {
	background-color: var(--color-background-light-1);
}
